.paddingElem {
  padding: var(--paddingElem);
}

.widthElem {
  width: var(--widthElem);
}

.heightElem {
  height: var(--heightElem);
}

.borderElem {
  border: 0.0625rem solid var(--borderElem);
}

.footer {
  border-top: 0.0625rem solid hsla(0, 0%, 100%, 0.1);
}

.footer__text {
  border-top: 0.0625rem solid hsla(0, 0%, 100%, 0.07);
}

.footer__text a:hover {
  color: #fff;
}

.cookieBar {
  position: fixed;
  z-index: 1090;
  bottom: 24px;
  left: 50%;
  /* display: none;
  visibility: hidden; */
  width: calc(100% - 48px);
  max-width: 630px;
  transform: translateX(-50%);
  -webkit-animation: fadeins 1s;
  -moz-animation: fadeins 1s;
  -o-animation: fadeins 1s;
  animation: fadeins 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.cookieBar::before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  border-radius: 3rem;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

@media only screen and (max-width: 575px) {
  .cookieBar::before {
    border-radius: 15px;
  }
}

.cookieBar__item {
  position: relative;
  border: 2px solid #fff;
  border-radius: 3rem;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 575px) {
  .cookieBar__item {
    border-radius: 15px;
  }
}

.cookieBar__item p {
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  color: black;
}

.cookieBar__item a,
.cookieBar__item button {
  font-weight: 700;
  display: inline-block;
  transition: all 0.2s;
  color: #0328ee;
}

.cookieBar__item a:hover {
  opacity: 0.7;
}

.cookieBar__item button {
  font-size: 10px;
  display: block;
  padding: 9px 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 3rem;
  background-color: #0328ee;
}

.cookieBar__item button:hover {
  color: black;
  border-color: #0328ee;
  background-color: transparent;
}

.scroll {
  font-size: 12px;
  font-weight: 800;
  line-height: 14px;
  display: inline-flex;
  flex-direction: column;
  transition: color 0.2s;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #5e6b7e;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (max-width: 767px) {
  .scroll {
    display: none;
  }
}

.scroll__mouse {
  position: relative;
  width: 38px;
  height: 64px;
  margin-bottom: 17px;
  border: 7px solid rgba(0, 169, 152, 0.1);
  border-radius: 19px;
  background: transparent;
}

.scroll__mouse:before {
  position: absolute;
  top: 10px;
  left: calc(50% - 2px);
  width: 4px;
  height: 16px;
  content: '';
  -webkit-animation: mouse 2s linear infinite;
  animation: mouse 2s linear infinite;
  border-radius: 2px;
  background: #0328ee;
}

.scroll:hover {
  color: #0328ee;
}

.scroll_row {
  flex-direction: row;
}

.scroll_row .scroll__mouse {
  margin: 0 17px 0 0;
}

.main .scroll {
  position: relative;
  z-index: 3;
}
